.scanner-page{

    #reader{
        max-width:500px;
        margin:auto;
        background:#fff;
        padding:20px;
        border-radius:12px;
        box-shadow:0 3px 12px rgba(0,0,0,.08);
    }

    h1{
        text-align:center;
        margin-bottom:25px;
    }
}