.scanner-page{

    #reader{
        max-width:500px;
        margin:auto;
        background:#fff;
        padding:20px;
        border-radius:12px;
        box-shadow:0 3px 12px rgba(0,0,0,.08);
    }

    h1{
        text-align:center;
        margin-bottom:25px;
    }
}.scanner-modal{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:
    rgba(0,0,0,.7);

    justify-content:center;
    align-items:center;

    z-index:99999;
}

.scanner-box{

    width:650px;

    max-width:95%;

    background:#fff;

    border-radius:12px;

    padding:20px;
}

.scanner-header{

    display:flex;

    justify-content:
    space-between;

    align-items:center;

    margin-bottom:15px;
}

#reader{

    width:100%;
}