$primary: #0A3752;
$secondary: #10AFE9;
$accent: #FD7D15;

$white: #fff;
$background: #f5f7fa;
$text: #1f2937;
$success: #198754;
$danger: #dc3545;
$warning: #fd7e14;
$light: #f5f6fa;
$shadow: 0 3px 12px rgba(0,0,0,.08);